body
{
 background-image:url("https://i.pinimg.com/originals/aa/f6/b4/aaf6b4f868ef0d4815b03e21ed32346c.jpg");
}
div.cover
{
 color:white;
 font-family:verdana;
 background-color:grey;
 border-radius:8px;
 text-align:center;
 width:50%;
 margin:auto;
 padding:1px;
}
div.gallery
{
 float:left;
 width:31.33%;
 overflow:hidden;
 padding:1%;
}
div.gallery img
{
 width:100%;
 border-radius:5px;
 height:35px;
}
.row:after
{
 content:"";
 display:table;
 clear:both;
}